$font-family: 			'Roboto', sans-serif;
$font-family-alt: 		$font-family;

$primary-color: 		#77B800;
$secondary-color: 		#0890BA;
$tertiary-color: 		#45458C;

$font-color:			#4D4E53;
$heading-color:			#9A9B9D;

$link-color:			$primary-color;
$link-color-hover:		#BED600;
$link-color-active:		#487B33;

$background-color:		#F7F7F7;
$highlight-color: 		#77B800;
$hr-color:				#9A9B9D;

$font-size:				14px;
$h1-font-size:			36px;
$h2-font-size:			24px;
$h3-font-size:			18px;
$h4-font-size:			16px;
$h5-font-size:			14px;
$h6-font-size:			11px;