// Variable defaults
$no-mq-support:   			 false !default;
$serve-to-nomq-max-width: 	 pxToEm($wrapper);

// Responsive utilities
// -------------------------
// More easily include all the states for responsive-utilities.less.
// [converter] $parent hack
@mixin responsive-visibility($parent) {
  #{$parent} { display: block !important; }
  table#{$parent}  { display: table; }
  tr#{$parent}     { display: table-row !important; }
  th#{$parent},
  td#{$parent}     { display: table-cell !important; }
}

// [converter] $parent hack
@mixin responsive-invisibility($parent) {
    #{$parent},
  tr#{$parent},
  th#{$parent},
  td#{$parent} { display: none !important; }
}

// Mixin for dealing with legacy IE not having media queries.
@mixin media-support($query) {
  @if $no-mq-support {
    @if $query < $serve-to-nomq-max-width {
      @content;
    }
  } @else {
    @media ( 'min-width:' + $query ) {
      @content;
    }
  }
}