%callout {
	margin: pxToEm(0 0 $bottom-margin);
	padding: pxToEm($gutter-size $gutter-size 0);
	border-width: 1px;
	border-style: solid;
	@include border-radius($border-radius); 
}

.callout {
	@extend %callout;
	border-color: $primary-color;
	background-color: lighten($primary-color, 20%);
	background-color: rgba(lighten($primary-color, 20%), .15);
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $primary-color;
	}
}

.callout-title {
	@include fontSize(20px);
	margin: pxToEm(0 0 10px, 20px);
}

.callout-alt {
	@extend %callout;
	border-color: $secondary-color;
	background-color: lighten($secondary-color, 20%);
	background-color: rgba(lighten($secondary-color, 20%), .15);
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $secondary-color;
	}
}

.callout-other {
	@extend %callout;
	border-color: $tertiary-color;
	background-color: lighten($tertiary-color, 20%);
	background-color: rgba(lighten($tertiary-color, 20%), .15);
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $tertiary-color;
	}
}