%callout {
	margin: pxToEm(0 0 $bottom-margin);
	padding: pxToEm($gutter-size $gutter-size 0);
	border-width: 1px;
	border-style: solid;
	@include border-radius($border-radius); 
}

.callout-title {
	@include fontSize(20px);
	margin: pxToEm(0 0 10px, 20px);
}

.callout {
	@extend %callout;
	@include calloutStyle($callout-border-color, $callout-bg-color, $callout-title-color);
}

.callout-alt {
	@extend %callout;
	@include calloutStyle($callout-border-color-alt, $callout-bg-color-alt, $callout-title-color-alt);
}

.callout-other {
	@extend %callout;
	@include calloutStyle($tertiary-color, lighten($tertiary-color, 20%), $tertiary-color);
}