// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Mixin that will add inline-block legacy fixes
@mixin inlineBlock {
  display: inline-block;
  @if $no-mq-support {
  	*display: inline;
  	*zoom: 1;
  }
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Sizing shortcuts
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@import "mixins/css-three-mixins";
@import "mixins/element-mixins";
@import "mixins/responsive-mixins";
@import "mixins/grid-mixins";


//@media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
//       (min--moz-device-pixel-ratio: 2),    /* Older Firefox browsers (prior to Firefox 16) */
//       (min-resolution: 2dppx),             /* The standard way */
//       (min-resolution: 192dpi)             /* dppx fallback */ 

